.header {
    width: 70rem;
    height: 5rem;
    margin: auto;
    border: 2px solid black;
    padding: 0px 2.5rem;

    display: grid;
    grid-template-columns: 15rem 30.5rem 27rem;
    grid-template-rows: 1fr;
}

.header img {
    width: 5rem;
    height: 4.5rem;
    grid-column: 1/2;
    grid-row: 1/2;
}

.nombres {
    width: 25rem;
    height: 2rem;
    display: flex;
    align-items: center;
    gap: 73px;
    margin: auto;  

   grid-column: 2/3;
   grid-row: 1/2;
}

.nombres2-1 {
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nombres2 {
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 10rem;
    height: 2.5rem;
    background-color: rgb(10, 85, 114);
    margin: auto;
    border-radius: 8px; 
    color: white;
    font-size: 1.1rem;
    grid-column: 3/4;
    grid-row: 1/2;

    display: flex;
    align-items: center;
    justify-content: center;
}